* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.head {
    width: 320px;
    height: 144px;
    border: 1px solid red;
}