* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    color: #52FF00;
}

.head {
    width: 320px;
    max-height: 160px;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    background-image: url("images/head-background-image.png");
}

/* head__container-left */

.head__container-left {
    width: 96px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.head__artist-photo {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid black;
}

.head__current-song-time {
    width: 72px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid black;
}

/* head__container-right */

.head__container-right {
    width: 224px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.head__artist-song-title {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.head__artist-song-title > p {
    color: #52FF00;
    font-size: 11px;
    text-wrap: nowrap;
}

.head__song-control {
    width: 209px;
    height: 37px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.head__icon {
    width: 37px;
    height: 37px;
    border-radius: 10px;
    border: 3px solid #52FF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    fill: #52FF00;
}

.head__song-duration-bar {
    width: 200px;
    height: 16px;
    border-radius: 20px 0 20px 0;
    border: 1px solid black;
}

/* playlist */

.playlist {
    width: 320px;
    max-height: 756px;
    height: 75vh;
    overflow: auto;
    background-image: url("images/playlist-background-image.png");
}

/* playlist scrollbar */

.playlist::-webkit-scrollbar-track {
    background-color: transparent; /*color de la barra de fondo*/
  }
  .playlist::-webkit-scrollbar-thumb {
    background-color: #171717 /*color del manejador*/
  }
  .playlist::-webkit-scrollbar {
    width: 29px; /*ancho del scroll vertical*/
    height: 16px; /*alto del scroll horizontal*/
  }

.playlist__song-container {
    width: 289px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.50) 100%);
}