* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
    padding: 16px;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    width: 100%;
    color: #52FF00;
}

span {
    font-family: 'Black Ops One', sans-serif;
    color: #52FF00;
}

img {
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

input[type=range] {
    height: 0px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #00ff00;
    background: #000000;
    border-radius: 20px 0 20px 0;
    border: 1px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid #83E584;
    height: 15px;
    width: 25px;
    border-radius: 20px 0 20px 0;
    background: #00880b;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #205928;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #002200;
    background: #205928;
    border-radius: 1px;
    border: 1px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #205928;
    border: 1px solid #18D501;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-fill-upper {
    background: #205928;
    border: 1px solid #18D501;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #205928;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #205928;
  }



.head {
    width: 100vw;
    max-width: 500px;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    background-image: url("images/head-background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* head__container-left */

.head__container-left {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.head__artist-photo {
    width: 80px;
    height: 55%;
}

.head__current-song-time {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    height: 25%;
    border-radius: 10px;
    border: 1px solid black;
}

/* head__container-right */

.head__container-right {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.head__artist-song-title {
    width: 90%;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.10) 100%);
}

.head__artist-song-title > marquee > p {
    margin: 0;
    padding: 0;
    color: #ff2600;
    font-size: 16px;
    text-wrap: nowrap;
    overflow-x: hidden;
}

.head__song-control {
    width: 85%;
    height: 37px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.head__icon {
    width: 37px;
    height: 37px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head__icon:hover {
  cursor: pointer;
  border: 3px solid green;
  background-color: #00000065;
}

.head__icon:hover svg {
  fill: #236e00;
}

svg {
    fill: #52FF00;
}

.head__song-duration-bar {
    width: 90%;
    height: 16px;
    border-radius: 20px 0 20px 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

/* RANGO */


/* playlist */
.playlist {
    width: 100vw;
    max-width: 500px;
    height: 75vh;
    overflow: auto;
    background-image: url("images/playlist-background-image.png");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    border-radius: 10px;
}

/* playlist scrollbar */

.playlist::-webkit-scrollbar-track {
    background-color: transparent; /*color de la barra de fondo*/
    
  }
  .playlist::-webkit-scrollbar-thumb {
    background-color: #171717; /*color del manejador*/
    border-radius: 10px; /* redondear los border del scroll */
  }
  .playlist::-webkit-scrollbar {
    width: 40px; /*ancho del scroll vertical*/
    height: 16px; /*alto del scroll horizontal*/
  }

.playlist__song-container {
    border-radius: 10px;
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.50) 100%);
    cursor: pointer;
}

/* DOM classes */

.active {
    background-color: #52FF00;
}

.active__name {
    color: #ffffff;
}

.cancionActual {
  background-color: green;
}